@{
    ViewBag.Title = "Index";
    Layout = null;
}
<link href="~/Content/bootstrap4/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/fullcalendar/main.min.css" rel="stylesheet" />
<link href="~/Content/awesomeplete/awesomplete.css" rel="stylesheet" />
<script src="~/Content/jquery-3.5.1.min.js"></script>
<style>
    .dropdown-menu.show {
        max-width: 20rem;
    }

    .dropdown.bootstrap-select {
        width: 100% !important;
    }

    .alert {
        padding: .1rem .5rem;
        margin-bottom: 0rem;
    }

    .awesomplete {
        width: 100%;
    }

    .container-fluid {
        margin-top: 2rem;
        padding-left: 5rem;
        padding-right: 5rem;
    }
</style>

<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">METU Course Calendar</a>
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-7">
            <div class="col-12">
                <div class="card" style="border-color:black;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4 ">
                                <button type="button" class="btn btn-dark btn-lg" id="btnCalendarDown"><span class="fc-icon fc-icon-chevron-left"></span></button>
                            </div>
                            <div class="col-4" style="text-align:center">
                                <h4><b id="calendarHeader"></b></h4>
                            </div>
                            <div class="col-4" style="text-align:end">
                                <button type="button" class="btn btn-dark btn-lg" id="btnCalendarUp"><span class="fc-icon fc-icon-chevron-right"></span></button>
                            </div>
                        </div>
                        <div id='calendar'></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-5">
            <div class="col-lg-12" style="margin-bottom:1rem;">
                <div class="card">
                    <div class="card-header text-white bg-dark">
                        Please Select a Course
                    </div>
                    <div class="card-body">
                        <input id="awesompleteInput-hidden" type="hidden" />
                        <input class="form-control" id="awesompleteInput" placeholder="Courses..." />

                        <button type="button" class="btn btn-primary btn-block" id="btnAddCourse">Add Course</button>
                    </div>
                </div>

            </div>
            <div class="col-lg-12" style="margin-bottom:1rem;">
                <div class="alert alert-primary" role="alert">
                    <div class="form-check">
                        <input class="form-check-input sectionCheckbox" type="checkbox" id="check_overlap" value="CheckOverlap">
                        <span>Remove overlapped calculations.</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header text-white bg-dark">Selected Courses</div>
                    <div class="card-body">
                        <div id="cardAddedCourses"></div>
                        <button type="button" class="btn btn-primary btn-block" style="margin-top:1rem;" id="btnCreateCalendar">Create Calendar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Content/bootstrap4/bootstrap.bundle.min.js"></script>
<script src="~/Content/fullcalendar/main.min.js"></script>
<script src="~/Content/awesomeplete/awesomplete.min.js"></script>
<script>
    var courseColorCounter = 0;
    var checkboxesChecked = [];
    var calendarTitleTotal = 0;
    var calendarTitleCurrent = 0;
    var calendarData = [];

    $(document).ready(function () {
        CalendarInit();
        $("#calendarHeader").html(calendarTitleCurrent + " / " + calendarTitleTotal);

        var newArr = [];
        $.getJSON('/Home/CourseSelectListData', function (data) {
            data.forEach(function (elem) {
                if (elem.codename != "") {
                    let adding = { 'label': elem.codename + "-" + elem.name, 'value': elem.code }
                    newArr.push(adding);
                }
            });

        }).then(() => {
            var awehidden = document.getElementById("awesompleteInput-hidden");
            var aweinput = document.getElementById("awesompleteInput");
            new Awesomplete(aweinput, {
                list: newArr,
                replace: function (suggestion) {
                    this.input.value = suggestion.label;
                    awehidden.value = suggestion.value;
                }
            });
        });

    })

    function CalendarInit() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
                left: '',
                center: '',
                right: ''
            },
            initialView: 'timeGridWeek',
            editable: false,
            locale: "en-gb",
            firstDay: 1,
            weekends: false,
            slotMinTime: "08:40:00",
            slotMaxTime: "17:30:00",
            allDaySlot: false,
            expandRows: true,
            dayHeaderFormat: { weekday: 'long' },
            events: (calendarData == []) ? [] : calendarData[calendarTitleCurrent - 1]
        });
        calendar.render();
    }

    $("#btnAddCourse").click(function () {
        $.ajax({
            url: "/Home/PartialAddCourse/" + $("#awesompleteInput-hidden").val() + courseColorCounter,
            type: "POST",
            success: function (data) {
                $("#cardAddedCourses").append(data);
                courseColorCounter++;
                $("#awesompleteInput").val("");

            }
        })
    })

    function RetrieveCalendarData(code) {
        $.ajax({
            url: '/Home/CreateCalendarData',
            type: "POST",
            data: JSON.stringify({ data: `${checkboxesChecked}` }),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                calendarData = data.current;
                calendarTitleTotal = data.totalResult;
                calendarTitleCurrent = 1;
                $("#calendarHeader").html(calendarTitleCurrent + " / " + calendarTitleTotal);
                CalendarInit();
            }
        })
    }

    $("#btnCreateCalendar").click(function () {
        var checkboxes = document.getElementsByClassName("sectionCheckbox");
        checkboxesChecked = [];

        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                checkboxesChecked.push(checkboxes[i].value);
            }
        }
        RetrieveCalendarData();
    })

    $("#btnCalendarDown").click(function () {
        if (calendarTitleCurrent > 1) {
            calendarTitleCurrent -= 1;
            $("#calendarHeader").html(calendarTitleCurrent + " / " + calendarTitleTotal);
            CalendarInit();
        }
    })

    $("#btnCalendarUp").click(function () {
        if (calendarTitleCurrent < calendarTitleTotal) {
            calendarTitleCurrent += 1;
            $("#calendarHeader").html(calendarTitleCurrent + " / " + calendarTitleTotal);
            CalendarInit();
        }
    })

</script>